@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #060e20;
    color: #dee5ff;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .glass-card {
    background: rgba(25, 37, 64, 0.4);
    backdrop-filter: blur(20px);
  }

  .text-gradient-primary {
    background: linear-gradient(135deg, #97a9ff 0%, #3e65ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
